.hero.is-primary {
  background-image: url('https://i.pinimg.com/originals/dd/4e/c9/dd4ec99b9e73b0359f4f1dfcd61e39f2.gif');
  background-size: cover;
  background-position: center;
  background-size: 15rem;
}

.hero.is-primary .title {
  color: #fff;
  background-color: black;
}

.title {
  color: #363636;
  font-size: 5rem;
  font-weight: 200;
  
  margin-top: -3rem;
}

.hero.is-primary .subtitle {
  color: rgba(255, 255, 255, .9);
  background-color: black;
}

.hero.is-primary .subtitle {
  color: rgba(255, 255, 255, .9);
  background-color: black;
  margin-top: -25px;
}

/* Estilos para tornar o navbar mais visível */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
  color: black;
}

.cinema-icon {
  font-size: 1.5rem;
  color: black
}

.navbar .cinema-icon {
  pointer-events: none;
}

.navbar:hover {
  background-color: yellow;
}

/* Estilos para fixar o navbar no topo durante a rolagem */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

/* Estilos para ajustar o conteúdo abaixo do navbar fixo */
body {
  padding-top: 60px;
  background-color: black;
  /* Altura do navbar */
}

/* Estilos para o navbar quando a página é rolada */
#navbar.is-scrolled {
  background-color: rgba(235, 219, 0, 0.9);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}

#historia.hero {
  background-color: black;
  margin-top: -1px;
  background-image: url('https://i.pinimg.com/564x/8d/7a/9e/8d7a9e5c9d516451ba6e342a736f31c1.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#historia.hero .column.is-one-third {
  order: 2;
}

#historia.hero .column.is-one-third img {
  width: 100%;
  height: auto;
}

#historia.hero .column {
  color: #ffffff;
}


.title {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 200;
  line-height: 1.125;
  margin-top: -1rem;
}

@media screen and (max-width: 768px) {
  #premiacoes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  
}

.premiacoes-image {
  width: 23rem; /* Ajuste o tamanho conforme necessário */
  max-height: 20rem; /* Defina uma altura máxima para as imagens */
  object-fit: cover; /* Redimensionar a imagem mantendo a proporção e cortando quando necessário */
}


element.style { /* deixar o taxi driver com o tamanho dos outros poster */
  height: 20rem;
}


@media screen and (min-width: 769px) {
  #premiacoes {
    background-image: url('https://i.pinimg.com/564x/40/33/49/4033498eabeb3b3b77d18167d180f8a5.jpg');
    background-position: center;
    background-size: cover;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal .fechar-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.modal .imagem-ampliada {
  max-width: 90%;
  max-height: 90%;
}

#galeria img {
  height: 127.19px;
  width: 359px;
}

#galeria p {
  color: white
}

#galeria .columns .column {
  position: relative;
  overflow: hidden;
}

#galeria .columns .column img {
  transition: transform 0.3s ease;
}

#galeria .columns .column img:hover {
  transform: scale(1.2);
}
